<div class="container">
  <form class="form-part">
    <select
      class="form-select"
      (change)="changeCoin($any($event.target).value, 'left')"
    >
      <option value="eur">EUR</option>
      <option value="usd">USD</option>
      <option value="uah" selected>UAH</option>
    </select>
    <label>
      Сума
      <input
        class="form-control"
        *ngIf="coinLeft === 'eur'"
        type="number"
        (input)="changeAmount($any($event.target).value, 'left')"
        [(ngModel)]="data.eur"
        name="eur"
      />
      <input
        class="form-control"
        *ngIf="coinLeft === 'uah'"
        type="number"
        (input)="changeAmount($any($event.target).value, 'left')"
        [(ngModel)]="data.uah"
        name="uah"
      />
      <input
        class="form-control"
        *ngIf="coinLeft === 'usd'"
        type="number"
        (input)="changeAmount($any($event.target).value, 'left')"
        [(ngModel)]="data.usd"
        name="usd"
      />
    </label>
  </form>
  <form class="form-part">
    <select
      class="form-select"
      (change)="changeCoin($any($event.target).value, 'right')"
    >
      <option value="eur" selected>EUR</option>
      <option value="usd">USD</option>
      <option value="uah">UAH</option>
    </select>
    <label>
      Сума
      <input
        class="form-control"
        *ngIf="coinRight === 'eur'"
        type="number"
        (input)="changeAmount($any($event.target).value, 'right')"
        [(ngModel)]="data.eur"
        name="eur"
      />
      <input
        class="form-control"
        *ngIf="coinRight === 'uah'"
        type="number"
        (input)="changeAmount($any($event.target).value, 'right')"
        [(ngModel)]="data.uah"
        name="uah"
      />
      <input
        class="form-control"
        *ngIf="coinRight === 'usd'"
        type="number"
        (input)="changeAmount($any($event.target).value, 'right')"
        [(ngModel)]="data.usd"
        name="usd"
      />
    </label>
  </form>
</div>
